body {
    margin: auto;
    font-family: 'Uchen', serif;
    height: 100vh;
 }

/*IMAGES */
.location-img{
    width: 170px;
    height: 250px;
    
}
.world-img{
    width: 25px;
    height: 25px;
    margin-right: .5em;
    align-self: center;
    
}
.map-img{
    width: 15px;
    height: 15px;
}
/*TEXT STYLING*/
.top-text{
    font-size: 1.3em; 
    align-self: center;
}
.country{
    font-size: .80em;
    letter-spacing: 1px;
    margin-bottom: .5em;
}
.city{
    margin-top: 0;
    letter-spacing: 1.5px;
}
.date{
    margin-bottom: 0;
    font-size: .90em;
    font-weight: bold;
}
.description{
    margin-top: .2em;
    align-self: center;
}


/*DISPLAY*/
.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #F55A5A;
    margin-bottom: .75em;
    padding: .5em; 
}
.container{
    display: flex;
    margin-right: 1em;
    margin-left: 1em;
    max-width: 650px;
}

.location-img{
    margin-right: 1em;
    margin-top: 1em;
    border-radius: 3%;
}
.google-maps-link{
   margin-left: .75em; 
   color: grey;

}
.map-img{
    margin-right: .3em;
}
.card-container{
    margin-top: 1em;
    margin-left: 1em;
}
